@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.5s;
}

.menulink:hover {
    color: #017143;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.btnlearn {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    /* background: #017143;
    color: #fff; */
    border-radius: 40px;
    border: #009c57 solid 5px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    color: black;
}

.btnlearn:hover {
    /* background-color: #6affc3; */
    background-color: #009c57;
    color: black;
}

.content .imgBox{
    width: 60px;
    display: flex;
    justify-content: flex-start;
    padding-right: 350px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

/* .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
    
} */

section {
    background: #e1e9de;
}

#languageSelect {

-webkit-appearance: none;
/* Remove estilo padrão do Chrome */
-moz-appearance: none;
/* Remove estilo padrão do FireFox */
appearance: none;
/* Remove estilo padrão do FireFox*/
background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
/* Imagem de fundo (Seta) */
background-position: 218px center;
/*Posição da imagem do background*/
width: 150px;
/* Tamanho do select, maior que o tamanho da div "div-select" */
height: 30px;
/* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
border: 1px solid #017143;
}

#languageSelect option {
    text-align: center;
}

#languageSelect option:hover{
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
    transition: transform 0.5s ease; /* Adicione a transição para a propriedade transform */
}

@keyframes slideImage {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.1); opacity: 0; }
}

.starbucks.animate-image {
    animation: slideImage 1s ease;
}

.circle.animate-circle {
    transform: translateX(100%); /* Move o círculo para fora da tela */
}